{% extends "template.html" %}
{% block title %}Graphs{% endblock %}
{% block content %}
<div class="container p-5 mb-4 bg-light rounded-3">
    <div class="row">
        <div class="col-12">
            <canvas id="chart-progressive-line"></canvas>
        </div>
    </div>                
</div>
{% endblock %}
{% block footer %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="{{ url_for('static', filename='js/Utils.js') }}"></script>
<script src="{{ url_for('static', filename='js/graphs.js') }}"></script>
{% endblock %}