{% extends "template.html" %}
{% block content %}
<div class="container p-5 mb-4 bg-light rounded-3">
    <!-- header -->
    <div class="row">
        <div class="col-12">
            <h1 class="lead display-1 pb-5">Testing Google Analytics</h1>
        </div>
    </div>
    <!-- /header -->
    
    <!-- buttons -->
    <div class="row">
        <div class="col-4">
            <button id="btn-left"  type="button" class="btn btn-lg btn-outline-danger rounded-pill">
                Click me!!
            </button>
        </div>
        
        <div class="col-4">
            <button id="btn-right"  type="button" class="btn btn-lg btn-outline-warning rounded-pill">
                No, click me!!
            </button>
        </div>

        <div class="col-4">
            <button id="btn-left"  type="button" class="btn btn-lg btn-outline-success rounded-pill">
                No, me!!
            </button>
        </div>
    </div>
    <!-- /buttons -->


    <div class="row">
        <div class="col-12">
            <p class="lead mt-4 fs-g">(Spoiler alert: clicking the buttons doesn't do anything)</h1>
        </div>
    </div>
    
</div>
{% endblock %}